.card {
    padding: 100px 100px 50px 100px;
    background: $TaupeGray;
    width: 100%;
}

.titulo {
    color: $White;
    text-align: center;
    font-weight: $bold;
    font-size: $large;
  }

  .parrafo {
    color: $white;
    font-weight: $regular;
    font-size: $medium;
    padding: 0 200px;
  }
  
  .card__limache {
    color: gray;
    background: $white;
  }