/* Header */
body {
  font-family:$Raleway;


}
.header .logo__image{
  margin-left: 100px;
  width: 250px;
  height: 54px;
}

/* Main Section*/
.main__container {
  background: $JellyBean;
  font-family:$Raleway;
  font-size: $xx-large;
  color: $White;
  text-align: center;
  padding: 200px;
  margin: 0;
  & .title {
    font-weight: $extra-light;
  }
  & .subtitle {
    font-weight: bold;
  }
}
//article cien
.main__article-cien {
  margin: 0;
  background: $TaupeGray;
  color: $White;
  padding: 100px 200px;
  img {
    width: 100%;
  }
  & .title {
    font-family:$Raleway;
    font-weight: bold;
    font-size: $large;
    margin-top: 20px;
    text-align: center;

  }
  .parraf{
  
  }
}
//article limache
.main__article-limache {
  margin: 0;
  background: $White;
  color: $GraniteGray;
  text-align: center;
  padding: 80px 200px;
  img {
    width: 100%;
    
  }
  & .title {
    font-family:$Raleway;
    font-weight: bold;
    font-size: $large;
    margin-top: 20px;
    text-align: center;

  }
}
/* seccion nosotros */
.about__title {
  background: $JellyBean;
  font-family:$Raleway;
  font-size: $xx-large;
  color: $White;
  text-align: center;
  padding: 20px;
  margin: 0;
}
//Javiera
.about {

  img {
    width: 50%;
    margin: 20px 30%;
    
  }
  & .title {
    font-family:$Raleway;
    font-weight: bold;
    font-size: $large;
    margin-top: 20px;
    text-align: center;

  }
}
/* contacto */
.contact {
  background: $JellyBean;
  font-family:$Raleway;
  font-size: $xx-large;
  color: $White;
  text-align: center;
  padding: 20px;
  margin: 0;
  & .title {
    font-weight: $extra-light;
  }
  & .subtitle {
    font-weight: bold;
  }
}
/* footer */
.footer {
  background: $GraniteGray;
  font-family:$Raleway;
  font-size: $xx-large;
  color: $White;
  text-align: center;
  padding: 20px;
  margin: 0;
  & .title {
    font-weight: $extra-light;
  }
  & .subtitle {
    font-weight: bold;
  }
}